[name="comments"] .no-comments {
  color: #7D7D7D;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 8px;
}


[name="comments"] .comment {
  border-bottom: 1px solid #dcdcdc;
  padding: 5px 0 10px 0;
}

[name="comments"] .comment.answer {
  margin-left: 20px;
  margin-top: 5px;
}

[name="comments"] .comment:not(.system) {
  display: flex;
  align-items: flex-start;
}

[name="comments"] .comment .comment-first-line {
  /* font-family: $newsFeedDetailSecondDescriptionFontFamily;
    color: $newsFeedDetailSecondDescriptionFontColor;
    line-height: $newsFeedDetailSecondDescriptionLineHeight;
    font-size: $newsFeedDetailSecondDescriptionFontSize; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

}

[name="comments"] .comment .comment-first-line .comment-type {
  text-transform: uppercase;
}

[name="comments"] .comment .comment-first-line .comment-timestamp {
  margin-left: 15px;
}

[name="comments"] .comment .commentText {
  /* font-family: $newsFeedDetailTextFontFamily;
    font-size: $newsFeedDetailTextFontSize;
    line-height: $newsFeedDetailTextLineHeight;
    color: $newsFeedDetailTextFontColor; */
  word-wrap: break-word;
  margin: 0;

  * {
    margin: 0;
  }
}

[name="comments"] .comment .comment-user-name {
  /* font-family: $headingFiveFontFamily; */
  margin: 0;
}

[name="comments"] .comment .comment-avatar {
  display: flex;
  align-items: flex-start;
}

[name="comments"] .comment .comment-avatar .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 13px;
  background-color: lightgray;
}

[name="comments"] .comment .comment-avatar .user-avatar {
  span {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
}

[name="comments"] .comment .comment-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - 53px);
}

[name="comments"] .comment .comment-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: $linkFontFamily;
    color: $linkColor;
    font-size: $linkFontSize; */
  margin-top: 10px;
}

[name="comments"] .comment .comment-buttons .like {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

[name="comments"] .comment .comment-buttons p {
  margin-bottom: 0;
}

[name="comments"] .comment .comment-buttons .edit-comment {
  margin-left: 10px;
}

[name="comments"] .comment .comment-buttons .delete-comment {
  margin-left: 10px;
}

[name="comments"] .last-row {
  display: flex;
  justify-content: space-between;
}