[name="comments"].hidden {
  display: none!important;
}

[name="comments"]#app-comments {
  padding-bottom: 100px;
}

[name="comments"] .no-comments {
  color: #7D7D7D;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 8px;
}

[name="comments"] .comment {
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px 0 10px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 7px;
}

[name="comments"] .comment.answer {
  margin-left: 20px;
  margin-top: 5px;
}

[name="comments"] .comment .comment-first-line {
  /* font-family: $newsFeedDetailSecondDescriptionFontFamily;
    color: $newsFeedDetailSecondDescriptionFontColor;
    line-height: $newsFeedDetailSecondDescriptionLineHeight;
    font-size: $newsFeedDetailSecondDescriptionFontSize; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;

}

[name="comments"] .comment .comment-first-line .comment-type {
  text-transform: uppercase;
}

[name="comments"] .comment .comment-first-line .comment-timestamp {
  margin-left: 15px;
}

[name="comments"] .comment .commentText {
  /* font-family: $newsFeedDetailTextFontFamily;
    font-size: $newsFeedDetailTextFontSize;
    line-height: $newsFeedDetailTextLineHeight;
    color: $newsFeedDetailTextFontColor; */
  word-wrap: break-word;
  margin: 0;

  * {
    margin: 0;
  }
}

[name="comments"] .comment .comment-user-name {
  /* font-family: $headingFiveFontFamily; */
  margin: 0;
}

[name="comments"] .comment .comment-avatar {
  display: flex;
  align-items: flex-start;
}

[name="comments"] .comment .comment-avatar .user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-right: 13px;
  background-color: lightgray;
}

[name="comments"] .comment .comment-avatar .user-avatar {
  span {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
}

[name="comments"] .comment .comment-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - 53px);
}

[name="comments"] .comment .comment-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: $linkFontFamily;
    color: $linkColor;
    font-size: $linkFontSize; */
  margin-top: 10px;
}

[name="comments"] .comment .comment-buttons .like {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

[name="comments"] .comment .comment-buttons p {
  margin-bottom: 0;
}

[name="comments"] .comment .comment-buttons .edit-comment {
  margin-left: 10px;
}

[name="comments"] .comment .comment-buttons .delete-comment {
  margin-left: 10px;
}

[name="comments"] .last-row {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

[name="comments"] .last-row .actions {
  display: flex;
  margin: 10px 0 10px 50px;
}

[name="comments"] .last-row .actions > div {
  cursor: pointer;
  margin-right: 10px;
}

[name="comments"] .show-more-less {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

[name="comments"] .show-more-less i {
  margin-right: 5px;
}

[name="comments"] .comment-length {
  padding-left: 10px;
}

[name="comments"] .fixed-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FAFAFB;
}

[name="comments"] .add-comment-container {
  margin: 10px;
  padding: 5px;
  height: 52px;
  border: 1px solid #9495AE;
  display: flex;
  border-radius: 33px;
  width: 100%;
}

[name="comments"] .input-comment {
  border-radius: 33px;
  flex: 1 0 auto;
  border: none;
  padding-left: 15px;
}

[name="comments"] .input-comment:focus {
  outline: none;
}

[name="comments"] .input-comment:focus + .btn-post-comment {
  display: block;
}

[name="comments"] .input-comment:active {
  outline: none;
}

[name="comments"] .btn-post-comment {
  background: #474975;
  border-radius: 24px;
  width: 65px;
  color: #fff;
  display: none;
}

[name="comments"] .fa-heart {
  color: red;
}

[name="comments"] .flagged-dialog {
  position: absolute;
  top: 20px;
  box-shadow: 1px 1px 9px 0px #00000040;
  padding: 15px;
}

[name="comments"] .close-flagged-dialog {
  display: flex;
  justify-content: space-between;
}

[name="comments"] .close-flagged-dialog i {
  cursor: pointer;
}

[name="comments"] .flagged-dialog p {
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  padding: 0 15px;
}