<!-- <fl-helper name="comments" data-widget-name="comments" data-comments-id="{{id}}"></fl-helper> -->

<!-- <div id="comments-container">
  {{ message }}
</div> -->

<div name="comments" data-widget-name="comments" data-comments-id="{{ id }}" id="app-comments">
  <div v-if="comments.length">
    <p>/{{comments.length}} COMMENTS</p>
    <div v-for="comment in comments" :key="comment.id">
      <p>\{{comment.text}}</p>
    </div>
  </div>
  <div v-else class="no-comments">
    <p>No comments yet</p>
  </div>
  <div>
    <input type="text" v-model="newComment" placeholder="Add a comment...">
    <button @click="addComment()">Post</button>
  </div>
</div>