<!-- <fl-helper name="comments" data-widget-name="comments" data-comments-id="{{id}}"></fl-helper> -->

<!-- <div id="comments-container">
  {{ message }}
</div> -->

<div
  name="comments"
  data-widget-name="comments"
  data-comments-id="{{ id }}"
  id="app-comments"
>
  <p>\{{comments.length}} COMMENTS</p>
  <div v-if="comments.length">
    <div v-for="(comment, index) in comments" :key="comment.id">
      <div class="comment">
        <div class="comment-avatar">
          <div
            v-if="comment.data.userAvatar"
            class="user-avatar"
            :style="'background-image: url(' + comment.data.userAvatar + ')'"
            ></div>
          <div v-else class="user-avatar"><span>\{{comment.data.userInitials}}</span></div>
        </div>
        <div class="comment-data">
          <div class="comment-first-line">
            <h5 class="comment-user-name">\{{comment.data.userFullName}}</h5>
          </div>
          <div class="commentText">\{{comment.data.text}}</div>
        </div>
      </div>
      <div>
        </div>
    </div>
  </div>
  <div v-else class="no-comments">
    <p>No comments yet</p>
  </div>
  <div>
    <input type="text" v-model="newComment" placeholder="Add a comment..." />
    <button @click="addComment()">Post</button>
  </div>
</div>
